.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.divider {
  height: 1px;
  margin-top: 50px;
  width: 80vw;
  background-color: rgb(143, 143, 143);
  color: rgb(143, 143, 14);
  font-size: 15vw;
}

.center_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subhead {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: bold;
}

.text_center {
  text-align: center;
}

.wrapper{
  min-height: 83vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
}

.Login_Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 93, 231);
  color: white;
  text-align: center;
  transform: translateY(0px);
  min-height: 75vh;
  width: 100%;
  max-width: 45vw;
  transition: height 0.5s ease-in, transform 0.5s ease-in;
  padding: 2rem;
  box-sizing: border-box;
}

.Login_Form button
{
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 100%;
  max-width: 10vw;
  min-width: 120px;
  height: 7vh;
  min-height: 40px;
  border: none;
  border-radius: 50px;
  background-color: rgb(14, 6, 156);
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Login_Form button:hover
{
  background-color: rgb(255, 95, 5);
  transition: background-color 0.5s ease;
}

.Login_Formde{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 93, 231);
  color: white;
  text-align: center;
  transform: translateY(-300px);
  height: 0vh;
  width: 100%;
  max-width: 45vw;
  transition: height 0.5s ease-in, transform 0.5s ease-in;
  padding: 2rem;
  box-sizing: border-box;
}

.Login_Formde button
{
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 100%;
  max-width: 10vw;
  min-width: 120px;
  height: 7vh;
  min-height: 40px;
  border: none;
  border-radius: 50px;
  background-color: rgb(14, 6, 156);
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Login_Formde button:hover
{
  background-color: rgb(255, 95, 5);
  transition: background-color 0.5s ease;
}

.Login_Wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 93, 231);
  min-height: 75vh;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  overflow: hidden;
}

.Login_Img{
  display: flex;
  width: 30vw;
  min-width: 300px;
  height: 75vh;
  min-height: 500px;
  background-color: green;
  justify-content: center;
  align-items: center;
}

.Login_Img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Form_Wrap{
  display:flex;
  flex-direction: column;
  overflow: hidden;
  height: 75vh;
  min-height: 500px;
  width: 100%;
  max-width: 45vw;
}

.Register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 166, 0);
  color: white;
  text-align: center;
  transform: translateY(0px);
  height: 75vh;
  width: 100%;
  max-width: 45vw;
  transition: height 0.5s ease-in, transform 0.5s ease-in;
  padding: 2rem;
  box-sizing: border-box;
}

.Register button
{
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: white;
  width: 100%;
  max-width: 10vw;
  min-width: 120px;
  height: 7vh;
  min-height: 40px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  background-color: rgb(14, 6, 156);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Register button:hover
{
  background-color: rgb(255, 95, 5);
  transition: background-color 0.5s ease;
}

.Registerde{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: white;
  text-align: center;
  transform: translateY(650px);
  height: 0;
  width: 100%;
  max-width: 45vw;
  transition: height 0.5s ease-in, transform 0.5s ease-in;
  padding: 2rem;
  box-sizing: border-box;
}

.Registerde button
{
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 100%;
  max-width: 10vw;
  min-width: 120px;
  height: 7vh;
  min-height: 40px;
  border: none;
  border-radius: 50px;
  background-color: rgb(14, 6, 156);
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Registerde button:hover
{
  background-color: rgb(255, 95, 5);
  transition: background-color 0.5s ease;
}

.Input_box{
  height: 6vh;
  min-height: 40px;
  width: 100%;
  max-width: 20vw;
  min-width: 200px;
  margin-top: 1vh;
}

.Input_box input 
{
  width: 100%;
  height: 100%;
  background-color: rgb(145, 145, 145);
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 0.5rem;
  box-sizing: border-box;
}

.Input_box input::placeholder
{
  color: rgb(59, 59, 59);
  text-align: center;
}

.Input_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .Login_Wrap {
    max-width: 95vw;
  }
  
  .Login_Form,
  .Login_Formde,
  .Register,
  .Registerde {
    max-width: 50vw;
  }
  
  .Login_Img {
    width: 25vw;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0.5rem;
  }
  
  .Login_Wrap {
    flex-direction: column;
    max-width: 100vw;
  }
  
  .Login_Form,
  .Login_Formde,
  .Register,
  .Registerde {
    max-width: 100%;
    width: 100%;
    min-height: 60vh;
  }
  
  .Login_Img {
    width: 100%;
    height: 40vh;
    min-height: 200px;
  }
  
  .Form_Wrap {
    max-width: 100%;
    width: 100%;
  }
  
  .Input_box {
    max-width: 80vw;
    width: 80vw;
  }
  
  .Login_Form button,
  .Login_Formde button,
  .Register button,
  .Registerde button {
    max-width: 80vw;
    width: 80vw;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 0.25rem;
  }
  
  .Login_Form,
  .Login_Formde,
  .Register,
  .Registerde {
    padding: 1rem;
  }
  
  .Input_box {
    max-width: 90vw;
    width: 90vw;
  }
  
  .Login_Form button,
  .Login_Formde button,
  .Register button,
  .Registerde button {
    max-width: 90vw;
    width: 90vw;
  }
}

.Login_Form h1,
.Login_Formde h1,
.Register h1,
.Registerde h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin-bottom: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.Login_Form p,
.Login_Formde p,
.Register p,
.Registerde p {
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
  line-height: 1.4;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .Input_box input {
    font-size: 16px;
  }
}